<header class="main-header">
    <h1 class="main-header__title">
        <a routerLink="primeira-page">
        <span class="main-header__title--purple">Curriculum </span><span class="main-header__title--green">Vitae</span>
        
        </a>
    </h1>

    <div class="container-menu">
    <nav class="main-header__menu">
        <ul>
            <li>
                <a routerLink="formacao">Formação</a>
            </li>

            <li>
                <a routerLink="experiencia">Experiência Profissional</a>
            </li>
            <li>
                <a routerLink="contato">Contato</a>
            </li>
            
            
            <li>
                <a>
                   <i class="fa-brands fa-facebook" style="color: #8e7dbe;"></i>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa-brands fa-instagram" style="color: #8e7dbe;"></i>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa-brands fa-twitter" style="color: #8e7dbe;"></i>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa-brands fa-linkedin" style="color: #8e7dbe;"></i>
                </a>
            </li>
            
        </ul>
    </nav>

<!-- <app-barra-pesquisa>
       
</app-barra-pesquisa> -->

    </div>
</header>
