<footer class="footer">
    <div class="footer__container">
       
    

    <address>
        <h2 class="footer__title">Contato</h2>
        <ul>
            <li><i class="fa-solid fa-envelope" style="color: #8e7dbe"></i>email@email.com</li>
            <li><i class="fa-solid fa-phone" style="color: #8e7dbe"></i>(00) 0 0000 0000</li>
            <li><i class="fa-solid fa-whatsapp" style="color: #8e7dbe"></i>(00) 0 0000 0000</li>
            
        </ul>
    </address>
    </div> 

    <section class="footer__copyright">
        &copy; Todos os direitos reservados.
    </section>
    
</footer>
