<title>Bento Felix</title>

<body>
  <div class="main_page">
    <div class="Informações">
      
      <h1>Bento Felix</h1>
      <ul>
        <li><b>Nome:</b>Bento Felix</li>
        <li><b>Data de Nascimento:</b> 10/12/2020</li>
        <li><b>Estado Civil:</b> Solteiro</li>
        <li><b>Endereço:</b> Rua Lorem ipsum dolor sit amet</li>
        <li><b>Cidade:</b> Lorem ipsum dolor sit - Lorem, ipsum</li>
        <li><b>Telefone:</b> (81) 0000000</li>
        <li><b>E-mail:</b> email@email.com</li>
      </ul>
    </div>
    <main>
    <h3> Experiência Profissional</h3>
    <ul>
    2013	- Empresa:  Lorem - Lorem, ipsum dolor
      <li>Cargo: Lorem
      <li>Lorem ipsum dolor sit amet.
      <li><b>Principais responsabilidades:</b></li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, temporibus.</li>
      <li>Lorem, ipsum dolor</li>
      <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, facilis.</li>
      <li>2015 / 2016	- Estágio na Instituição: Lorem ipsum dolor sit</li>
      <li>Cargo:  Lorem ipsum dolor sit amet consectetur</li>
      <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis obcaecati dolor labore. </li>
    </ul>
    <h3>Formação Acadêmica</h3>
    <ul>
      <li>Graduação: Lorem, ipsum - Lorem</li>
      <li>Cursando: Sistemas de informação - Lorem, ipsum </li>
    </ul>
    <h3>Objetivos </h3>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nihil alias deserunt quis. Exercitationem doloremque magni voluptates illo, soluta assumenda. </p>

    <h3>Idiomas</h3>
    <p>-Inglês: básico</p>
    </main>
  </div>
