<main>
    <h3> Experiência Profissional</h3>
    <ul>
    2013	- Empresa:  Lorem - Lorem, ipsum dolor
      <li>Cargo: Lorem
      <li>Lorem ipsum dolor sit amet.
      <li><b>Principais responsabilidades:</b></li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, temporibus.</li>
      <li>Lorem, ipsum dolor</li>
      <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, facilis.</li>
      <li>2015 / 2016	- Estágio na Instituição: Lorem ipsum dolor sit</li>
      <li>Cargo:  Lorem ipsum dolor sit amet consectetur</li>
      <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis obcaecati dolor labore. </li>
    </ul>
</main>